/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* GENERAL */
.main-container{
    margin: 0 auto;
    width: 70%;
    max-width: 1200px;
}

.product-row{
    width: 100%;
    margin-bottom: 2.5em;
}

.heart{
    background-color: #ffffff;
    font-size: 2em;
    text-align: center;
    width: 10%;
    position: absolute;
    right: 0;
    top: 5%;
}

/* PRODUCTS */
.product-card{
    position:relative;
    display: inline-block;
    vertical-align: top;
    width: calc((100%/3) - 4px );
}

.product-img-a{
    width: 100%;
}

.product-img-b{
    width: 100%;
    display: none;
}

 .banner{
    display: inline-block;
    position: absolute;
    bottom: 15%;
    left: 0;
} 

.product-discount{
    background-color: #ff0000;
    color: #ffffff;
    padding: .2em .5em;
}

.sustainability{
    background-color: #008000;
    color: #ffffff;
    font-weight: bolder;
    padding: .2em .5em;
}

.product-description{
    font-size: 1em;
    font-weight: bolder;
}

.price{
    font-size: .8em;
}

.discounted-price{
    color: #ff0000;
    font-weight: bold;
}

.original-price{
    text-decoration: line-through;
}

.product-card:hover .product-img-b{
    display: inline-block;
    position: absolute;
    top: 0;
    left:0;
}